@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.glass2 {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.glass3 {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.glass4 {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.glass5 {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.rounded {
  border-radius: 10px;
}

.m1 {
  margin: 5px;
}

.p1 {
  padding: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 150px;
  background: transparent;
}

.custom-range::-webkit-slider-runnable-track {
  width: 12px;
  height: 100%;
  background: #fc00ff;
  background: -webkit-linear-gradient(to top, #00dbde, #fc00ff);
  background: linear-gradient(to top, #00dbde, #fc00ff);
  border-radius: 12px;
}

.custom-range::-moz-range-track {
  width: 15px;
  height: 100%;
  background: white;
  border-radius: 5px;
}

.custom-range::-ms-track {
  width: 12px;
  height: 100%;
  background: white;
  border-radius: 5px;
  border: none;
  color: transparent;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin-top: -6px;
}

.custom-range::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: linear-gradient(to top, #00dbde, #fc00ff);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.custom-range::-ms-thumb {
  width: 12px;
  height: 12px;
  background: linear-gradient(to top, #00dbde, #fc00ff);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
